{% load static %}

<!doctype html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>Document</title>
</head>


<body style="background-color: black">

<header class="container mt-4 mb-4" style="background-color: black; border-color: black ">
    <a href="https://www.sianbrooke.com">
        <img src="{% static "/render/BlackHeader.png" %}" alt="Render" class="mw-100">
    </a>
</header>

<h2 style="color: #E1CCBE">Programmed Differently?</h2>
<p style="color: #E1CCBE">Brooke,S. (2023). Testing for Gender Differences in Python Programming Style and Quality on GitHub.
    <i>Journal of Computer-Mediated Communication.</i> <a href="https://cdn.simplecss.org/simple.min.css">https://doi.org/10.1093/jcmc/zmad049</a></p>
<blockquote style="color: #E1CCBE; border-left: 5px solid #E1CCBE;"> <b>Abstract.</b>The underrepresentation of women in open-source software is frequently attributed to women’s lack of innate aptitude compared to men: a natural “gender difference” in technical ability. Approaching code as a form of communication, I conduct a novel empirical study of gender difference in Python programming on GitHub. Based on 1,728 open-source projects, I ask if there is a gender difference in the quality and style of Python code measured in adherence to PEP-8 guidelines. I found significant gender differences in structure and how Python files are organised. Whilst there is gendered variation in programming style, there is no evidence of gender difference in code quality. Using a Random Forest model, I show that the gender of a programmer can be predicted from the style of their Python code. The study concludes that gender differences in Python code are a matter of style, not quality.</blockquote>
<p style="color: #E1CCBE"> The purpose of this app is to allow you to interact with the findings and run the classification model on your own Python files. </p>
<p style="color: #E1CCBE">This app will tell you if your Python code is written in a <b>Masculine</b> or <b>Feminine</b> style. This  is not an attempt ito infer your gender. After you upload you file, you can click submit and you will
    see a score rating of your file, as well as a breakdown of the gendered style of your Python code as a percentage.</p>
<a href="https://www.sianbrooke.co.uk">
<button type="button" style="background-color: #E1CCBE; border-color: #E1CCBE">Visit my website.</button>
</a>
<h4 style="color: #E1CCBE">Upload your code below.</h4>
<form method="POST" class="post-form" enctype="multipart/form-data" style="color: #E1CCBE;">
    {% csrf_token %}
    {{ form.as_p }}
    <input id="submit" type="submit" value="Submit File" style="background-color: #E1CCBE; border-color: #E1CCBE">
</form>
</body>
</html>